* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;
}

h1, button {
    margin-bottom: auto;
}

h1 {
    margin-top: 1rem;

    font-size: 8rem;
}

p {
    font-size: 7rem;
}

button {
    font-size: 7rem;
    padding: 2rem;
    border: 1px solid darkslategrey;
    color: white;
    border-radius: 2rem;

    transition: transorm 1s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


